.navbar-brand
{
	height: 80px !important;
}

div#notebook {
	font-family: sans-serif;
	font-size: 13pt;
	line-height: 170%;
	color: #cdd2e9;
	-webkit-font-smoothing: antialiased !important;
}
body,
div.body {
	font-family: sans-serif;
	font-size: 13pt;
	color: #93a2be;
	background-color: #262931;
	background: #262931;
	-webkit-font-smoothing: antialiased !important;
}
body.notebook_app {
	padding: 0;
	background-color: #262931;
	background: #262931;
	padding-right: 0px !important;
	overflow-y: hidden;
}
a {
	font-family: sans-serif;
	color: #93a2be;
	-webkit-font-smoothing: antialiased !important;
}
a:hover,
a:focus {
	color: #d8dcee;
	-webkit-font-smoothing: antialiased !important;
}
.list_header,
div#notebook_list_header.row.list_header {
	font-size: 13.5pt;
	color: #d8dcee;
	background-color: transparent;
	height: 35px;
}
#running .panel-group .panel .panel-heading {
	font-size: 14pt;
	color: #93a2be;
	padding: 8px 8px;
	background: #2e3642;
	background-color: #2e3642;
}
#running .panel-group .panel .panel-heading a {
	font-size: 14pt;
	color: #93a2be;
}
#running .panel-group .panel .panel-heading a:focus,
#running .panel-group .panel .panel-heading a:hover {
	font-size: 14pt;
	color: #93a2be;
}
#running .panel-group .panel .panel-body .list_container .list_item {
	background: #384152;
	background-color: #384152;
	padding: 2px;
	border-bottom: 2px solid rgba(80,92,133,.22);
}
#running .panel-group .panel .panel-body .list_container .list_item:hover {
	background: #384152;
	background-color: #384152;
}
#running .panel-group .panel .panel-body {
	padding: 2px;
}
div.running_list_info.toolbar_info {
	font-size: 15px;
	padding: 4px 0 4px 0;
	margin-top: 5px;
	margin-bottom: 8px;
	height: 24px;
	line-height: 24px;
	text-shadow: none;
}
.list_placeholder {
	font-weight: normal;
}
#tree-selector {
	padding: 0px;
}
#project_name > ul > li > a > i.fa.fa-home {
	color: #4c8be2;
	font-size: 17pt;
	display: inline-block;
	position: static;
	padding: 0px 0px;
	font-weight: normal;
	text-align: center;
	vertical-align: text-top;
}
.fa-folder:before {
	color: #4c8be2;
}
.fa-arrow-up:before {
	font-size: 14px;
}
.fa-arrow-down:before {
	font-size: 14px;
}
.folder_icon:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f07b";
	color: #4c8be2;
}
.notebook_icon:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f02d";
	position: relative;
	color: #157bff !important;
	top: 0px;
}
.file_icon:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f15b";
	position: relative;
	top: 0px;
	color: #93a2be !important;
}
#project_name {
	display: inline-flex;
	padding-left: 7px;
	margin-left: -2px;
	margin-bottom: -20px;
	text-align: -webkit-auto;
	vertical-align: text-top;
}
div#notebook_toolbar div.dynamic-instructions {
	font-family: sans-serif;
	font-size: 15px;
}
div#maintoolbar .container {
	margin-left: -5px !important;
}
span#login_widget > .button,
#logout {
	font-family: sans-serif;
	color: #93a2be;
	background: #3a4452;
	background-color: #3a4452;
	border: 2px solid #38424f;
	font-weight: normal;
	box-shadow: none;
	text-shadow: none;
	border-radius: 2px;
	font-size: inherit;
}
span#login_widget > .button:hover,
#logout:hover {
	color: #d8dcee;
	background-color: #424e5e;
	background: #424e5e;
	border-color: #424e5e;
	background-image: none;
	box-shadow: none !important;
	border-radius: 2px;
}
span#login_widget > .button:focus,
#logout:focus,
span#login_widget > .button.focus,
#logout.focus,
span#login_widget > .button:active,
#logout:active,
span#login_widget > .button.active,
#logout.active,
.open > .dropdown-togglespan#login_widget > .button,
.open > .dropdown-toggle#logout {
	color: #e4e8ee;
	background-color: #4c8be2;
	background: #4c8be2;
	border-color: #4c8be2;
	background-image: none;
	box-shadow: none !important;
	border-radius: 2px;
}
body > #header #header-container {
	padding-bottom: 0px;
	padding-top: 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body > #header {
	background: #262931;
	background-color: #262931;
	position: relative;
	z-index: 100;
}
.list_container {
	font-size: 12.0pt;
	color: #93a2be;
	border: none;
	text-shadow: none !important;
}
.list_container > div {
	border-bottom: 1px solid rgba(80,92,133,.22);
	font-size: 12.0pt;
}
.list_header > div,
.list_item > div {
	padding-left: 0px;
}
.list_header > div .item_link,
.list_item > div .item_link {
	margin-left: -1px;
	vertical-align: middle;
	line-height: 22px;
	font-size: 12.0pt;
}
.item_icon {
	font-size: 12.0pt;
	vertical-align: middle;
}
.list_item input:not([type="checkbox"]) {
	padding-right: 0px;
	height: auto;
	width: 20%;
	margin: 6px 0 0;
	margin-top: 1px;
}
.list_header > div .item_link,
.list_item > div .item_link {
	margin-left: -1px;
	vertical-align: middle;
	line-height: 22px;
	font-size: 10.5pt;
	display: inline-table;
	position: static;
}
#button-select-all {
	height: 34px;
	min-width: 55px;
	z-index: 0;
	border: none !important;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	left: -3px;
	border-radius: 0px !important;
}
button#tree-selector-btn {
	height: 34px;
	font-size: 12.0pt;
	border: none;
	left: -3px;
	border-radius: 0px !important;
}
input#select-all.pull-left.tree-selector {
	margin-left: 7px;
	margin-right: 2px;
	margin-top: 2px;
	top: 4px;
}
input[type="radio"],
input[type="checkbox"] {
	margin-top: 1px;
	line-height: normal;
}
.list_container a {
	font-size: 16px;
	color: #93a2be;
	border: none;
	text-shadow: none !important;
	font-weight: normal;
	font-style: normal;
}
div.list_container a:hover {
	color: #d8dcee;
}
div.list_item:hover {
	background-color: rgba(80,92,133,.06);
}
.breadcrumb > li {
	font-size: 12.0pt;
	color: #93a2be;
	border: none;
	text-shadow: none !important;
}
.breadcrumb > li + li:before {
	content: "/\00a0";
	padding: 0px;
	color: #93a2be;
	font-size: 18px;
}
ul#tabs a {
	font-family: sans-serif;
	font-size: 13pt;
	font-weight: normal;
	font-style: normal;
	border-color: transparent;
	text-shadow: none !important;
}
.nav-tabs {
	font-family: sans-serif;
	font-size: 13pt;
	font-weight: normal;
	font-style: normal;
	background: #262931;
	text-shadow: none !important;
	border-color: transparent;
	border-bottom-color: rgba(80,92,133,.45);
}
.nav-tabs > li > a:hover {
	color: #d8dcee;
	background-color: rgba(80,92,133,.22);
}
.nav-tabs > li > a:active,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #e4e8ee;
	background-color: #3572c6;
	border: 1px solid transparent;
	border-bottom-color: transparent;
	cursor: default;
}
.nav > li > a:hover,
.nav > li > a:focus {
	text-decoration: none;
	background-color: rgba(80,92,133,.22);
	transition: 200ms ease;
}
.nav > li.disabled > a,
.nav > li.disabled > a:hover {
	color: #546379;
}
div#notebook {
	font-family: sans-serif;
	font-size: 13pt;
	padding-top: 4px;
}
.notebook_app {
	background-color: #262931;
}
#notebook-container {
	padding: 13px 2px;
	background-color: #262931;
	min-height: 0px;
	box-shadow: none;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}
div#ipython-main-app.container {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	margin-right: auto;
	margin-left: auto;
}
.container {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}
div#menubar-container {
	width: 100%;
	width: 980px;
}
div#header-container {
	width: 980px;
}
.notebook_app #header,
.edit_app #header {
	box-shadow: none !important;
	background-color: #262931;
	border-bottom: 2px solid rgba(80,92,133,.22);
}
#header,
.edit_app #header {
	font-family: sans-serif;
	font-size: 13pt;
	box-shadow: none;
	background-color: #262931;
}
#header .header-bar,
.edit_app #header .header-bar {
	background: #262931;
	background-color: #262931;
}
body > #header .header-bar {
	width: 100%;
	background: #262931;
}
span.checkpoint_status,
span.autosave_status {
	font-size: small;
	display: none;
}
#menubar,
div#menubar {
	background-color: #262931;
	padding-top: 0px !important;
}
#menubar .navbar,
.navbar-default {
	background-color: #262931;
	margin-bottom: 0px;
	margin-top: 0px;
}
.navbar {
	border: none;
}
div.navbar-text,
.navbar-text,
.navbar-text.indicator_area,
p.navbar-text.indicator_area {
	margin-top: 8px !important;
	margin-bottom: 0px;
	color: #4c8be2;
}
.navbar-default {
	font-family: sans-serif;
	font-size: 13pt;
	background-color: #262931;
	border-color: rgba(80,92,133,.22);
	line-height: 1.5em;
	padding-bottom: 0px;
}
.navbar-default .navbar-nav > li > a {
	font-family: sans-serif;
	font-size: 13pt;
	color: #93a2be;
	display: block;
	line-height: 1.5em;
	padding-top: 14px;
	padding-bottom: 11px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #d8dcee;
	background-color: rgba(80,92,133,.22);
	border-color: rgba(80,92,133,.22);
	line-height: 1.5em;
	transition: 200ms ease;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #e4e8ee;
	background-color: #3572c6;
	border-color: #3572c6;
	line-height: 1.5em;
	transition: 200ms ease;
}
.navbar-nav > li > .dropdown-menu {
	margin-top: 0px;
}
.navbar-nav {
	margin: 0;
}
div.notification_widget.info,
.notification_widget.info,
.notification_widget:active:hover,
.notification_widget.active:hover,
.open > .dropdown-toggle.notification_widget:hover,
.notification_widget:active:focus,
.notification_widget.active:focus,
.open > .dropdown-toggle.notification_widget:focus,
.notification_widget:active.focus,
.notification_widget.active.focus,
.open > .dropdown-toggle.notification_widget.focus,
div#notification_notebook.notification_widget.btn.btn-xs.navbar-btn,
div#notification_notebook.notification_widget.btn.btn-xs.navbar-btn:hover,
div#notification_notebook.notification_widget.btn.btn-xs.navbar-btn:focus {
	color: #4c8be2;
	background-color: transparent !important;
	border-color: transparent !important;
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
	font-size: 8pt;
	z-index: 0;
}
div#notification_notebook.notification_widget.btn.btn-xs.navbar-btn {
	font-size: 8pt;
	z-index: 0;
}
.notification_widget {
	color: #4c8be2;
	z-index: -500;
	font-size: 8pt;
	background: transparent;
	background-color: transparent;
	margin-right: 3px;
	border: none;
}
div.notification_widget.info,
.notification_widget.info {
	display: none !important;
}
.edit_mode .modal_indicator:before {
	font-size: 18px;
	color: #4c8be2;
	content: "E";
	opacity: 0.35;
	padding-bottom: 0px;
	vertical-align: -webkit-baseline-middle;
	margin-left: 1px;
	margin-bottom: 0px;
}
.command_mode .modal_indicator:before {
	font-family: sans-serif;
	font-size: 18px;
	color: #4c8be2;
	content: "C";
	padding-bottom: 0px;
	vertical-align: -webkit-baseline-middle;
	margin-left: 1px;
	margin-bottom: 0px;
}
.item_icon {
	color: #4c8be2;
}
.item_buttons .kernel-name {
	font-size: 13pt;
	color: #4c8be2;
}
.running_notebook_icon:before {
	color: #48a667 !important;
	font: normal normal normal 15px/1 FontAwesome;
	font-size: 15px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f10c";
	vertical-align: middle;
	position: static;
	display: inherit;
}
.item_buttons .running-indicator {
	padding-top: 4px;
	color: #48a667;
	font-family: sans-serif;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}
#notification_trusted {
	font-family: sans-serif;
	font-size: 17px !important;
	color: #4c8be2;
	border: none;
	background: transparent;
	background-color: transparent;
	margin-bottom: 0px !important;
	margin-top: 11px !important;
	vertical-align: middle !important;
}
#modal_indicator {
	float: right !important;
	color: #4c8be2;
	background: #262931;
	background-color: #262931;
	margin-top: 8px !important;
	margin-left: 0px;
}
#kernel_indicator {
	float: right !important;
	color: #4c8be2;
	background: #262931;
	background-color: #262931;
	border-left: 2px solid #4c8be2;
	padding-top: 0px;
	padding-bottom: 4px;
	margin-top: 8px !important;
	margin-left: -2px;
}
#kernel_indicator .kernel_indicator_name {
	font-size: 17px;
	color: #4c8be2;
	background: #262931;
	background-color: #262931;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 4px;
	vertical-align: -webkit-baseline-middle;
	padding-bottom: 0px;
}
.kernel_idle_icon:before {
	display: inline-block;
	font: normal normal normal 22px/1 FontAwesome;
	font-size: 22px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	cursor: pointer;
	margin-left: 0px !important;
	opacity: 0.7;
	vertical-align: middle;
	margin-top: 1px;
	content: "\f1db";
}
.kernel_busy_icon:before {
	display: inline-block;
	font: normal normal normal 22px/1 FontAwesome;
	font-size: 22px;
	-webkit-animation: pulsate 2s infinite ease-out;
	animation: pulsate 2s infinite ease-out;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	cursor: pointer;
	margin-left: 0px !important;
	vertical-align: middle;
	margin-top: 1px;
	content: "\f111";
}
@-webkit-keyframes pulsate {
	0% {
		-webkit-transform: scale(1.0,1.0);
		opacity: 0.8;
	}
	8% {
		-webkit-transform: scale(1.0,1.0);
		opacity: 0.8;
	}
	50% {
		-webkit-transform: scale(0.75,0.75);
		opacity: 0.3;
	}
	92% {
		-webkit-transform: scale(1.0,1.0);
		opacity: 0.8;
	}
	100% {
		-webkit-transform: scale(1.0,1.0);
		opacity: 0.8;
	}
}
i#kernel_indicator_icon {
	vertical-align: sub;
}
div.notification_widget.info,
.notification_widget.info,
.notification_widget:active:hover,
.notification_widget.active:hover,
.open > .dropdown-toggle.notification_widget:hover,
.notification_widget:active:focus,
.notification_widget.active:focus,
.open > .dropdown-toggle.notification_widget:focus,
.notification_widget:active.focus,
.notification_widget.active.focus,
.open > .dropdown-toggle.notification_widget.focus,
div#notification_notebook.notification_widget.btn.btn-xs.navbar-btn,
div#notification_notebook.notification_widget.btn.btn-xs.navbar-btn:hover,
div#notification_notebook.notification_widget.btn.btn-xs.navbar-btn:focus {
	color: #4c8be2;
	background-color: #262931;
	border-color: #262931;
}
#notification_area,
div.notification_area {
	float: right !important;
	position: static;
}
.notification_widget,
div.notification_widget {
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	vertical-align: text-top !important;
	margin-top: 6px !important;
	z-index: 1000;
}
#kernel_logo_widget,
#kernel_logo_widget .current_kernel_logo {
	display: none;
}
div#ipython_notebook {
	display: none;
}
i.fa.fa-icon {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}
.fa {
	display: inline-block;
	font: normal normal normal 10pt/1 "FontAwesome", sans-serif;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.dropdown-menu {
	font-family: sans-serif;
	font-size: 13pt;
	box-shadow: none;
	padding: 0px;
	text-align: left;
	border: 2px solid rgba(80,92,133,.22);
	background-color: #373e4b;
	background: #373e4b;
	line-height: 1;
}
.dropdown-menu:hover {
	font-family: sans-serif;
	font-size: 13pt;
	box-shadow: none;
	padding: 0px;
	text-align: left;
	border: 2px solid rgba(80,92,133,.22);
	background-color: #373e4b;
	box-shadow: none;
	line-height: 1;
}
.dropdown-menu > li > a {
	font-family: sans-serif;
	font-size: 12.0pt;
	line-height: 1.1;
	display: block;
	padding: 10px 20px 9px 10px;
	color: #93a2be;
	background-color: #373e4b;
	background: #373e4b;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: #d8dcee;
	background-color: rgba(80,92,133,.22);
	background: rgba(80,92,133,.22);
	border-color: rgba(80,92,133,.22);
	transition: 200ms ease;
}
.dropdown-menu .divider {
	height: 1px;
	margin: 0px 0px;
	overflow: hidden;
	background-color: rgba(80,92,133,.45);
}
.dropdown-submenu > .dropdown-menu {
	top: 0px;
	left: 100%;
	margin-top: -2px;
	margin-left: 0px;
	padding-top: 0px;
	transition: 200ms ease;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
	font-family: sans-serif;
	font-size: 12.0pt;
	font-weight: normal;
	color: #546379;
	padding: none;
	display: block;
	clear: both;
	line-height: 1.1;
	white-space: nowrap;
}
.dropdown-submenu > a:after {
	color: #93a2be;
	margin-right: -16px;
	margin-top: 0px;
}
.dropdown-submenu:hover > a:after,
.dropdown-submenu:active > a:after,
.dropdown-submenu:focus > a:after,
.dropdown-submenu:visited > a:after {
	color: #4c8be2;
	margin-right: -16px;
}
div.kse-dropdown > .dropdown-menu,
.kse-dropdown > .dropdown-menu {
	min-width: 0;
	top: 94%;
}
.btn,
.btn-default {
	font-family: sans-serif;
	color: #93a2be;
	background: #3a4452;
	background-color: #3a4452;
	border: 1px solid #38424f;
	font-weight: normal;
	box-shadow: none;
	text-shadow: none;
	border-radius: 2px;
	font-size: inherit;
}
.btn:hover,
.btn:active:hover,
.btn.active:hover,
.btn-default:hover,
.open > .dropdown-toggle.btn-default:hover,
.open > .dropdown-toggle.btn:hover {
	color: #d8dcee;
	border: 1px solid #424e5e;
	background-color: #424e5e;
	background: #424e5e;
	background-image: none;
	box-shadow: none !important;
	border-radius: 2px;
	transition: 200ms ease;
}
.btn:active,
.btn.active,
.btn:active:focus,
.btn.active:focus,
.btn:active.focus,
.btn.active.focus,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.btn-default:active:hover,
.btn-default.active:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn:focus,
.open > .dropdown-toggle.btn.focus,
.open > .dropdown-toggle.btn-default {
	color: #e4e8ee;
	border: 1px solid #3572c6;
	background-color: #3572c6;
	background: #3572c6;
	border-color: #3572c6;
	background-image: none;
	box-shadow: none !important;
	border-radius: 2px;
	transition: 200ms ease;
}
.item_buttons > .btn,
.item_buttons > .btn-group,
.item_buttons > .input-group {
	margin-left: 5px;
	background: #2e3642;
	background-color: #2e3642;
	border: 1px solid #2e3642;
}
.item_buttons > .btn:hover,
.item_buttons > .btn-group:hover,
.item_buttons > .input-group:hover {
	margin-left: 5px;
	background: #2a313c;
	background-color: #2a313c;
	border: 1px solid #2a313c;
	transition: 200ms ease;
}
.btn-group > .btn-mini,
.btn-sm,
.btn-group-sm > .btn,
.btn-xs,
.btn-group-xs > .btn,
.alternate_upload .btn-upload,
.btn-group,
.btn-group-vertical {
	font-size: 12.0pt;
	font-weight: normal;
	height: inherit;
}
.btn-xs,
.btn-group-xs > .btn {
	font-size: 12.0pt;
	background-image: none;
	font-weight: normal;
	text-shadow: none;
	display: inline-table;
}
.btn-group > .btn:first-child {
	margin-left: 3px;
}
.alternate_upload input.fileinput {
	text-align: center;
	vertical-align: bottom;
	margin-left: -.5ex;
	display: inline-table;
	border: solid 0px #3a4452;
	margin-bottom: -1ex;
}
.alternate_upload .btn-upload {
	display: inline-table;
}
.dropdown-header {
	font-family: sans-serif !important;
	font-size: 13pt !important;
	color: #4c8be2 !important;
	border-bottom: none !important;
	padding: 0px !important;
	margin: 6px 6px 0px !important;
}
span#last-modified.btn.btn-xs.btn-default.sort-action,
span#sort-name.btn.btn-xs.btn-default.sort-action {
	font-family: sans-serif;
	font-size: 16px;
	background-color: transparent;
	background: transparent;
	border: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
	vertical-align: sub;
}
span#last-modified.btn.btn-xs.btn-default.sort-action {
	margin-left: 19px;
}
button.close {
	border: 0px none;
	font-family: sans-serif;
	font-size: 20pt;
	font-weight: normal;
}
.dynamic-buttons {
	font-size: 15px;
	padding-top: 0px;
	display: inline-block;
}
.close {
	color: #dc6972;
	opacity: .5;
	text-shadow: none;
	font-weight: normal;
}
.close:hover {
	color: #dc6972;
	opacity: 1;
	font-weight: normal;
}
div.nbext-enable-btns .btn[disabled],
div.nbext-enable-btns .btn[disabled]:hover,
.btn-default.disabled,
.btn-default[disabled],
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
	color: #92a2bd;
	background: #38424f;
	background-color: #38424f;
	border-color: #38424f;
	transition: 200ms ease;
}
.input-group-addon {
	padding: 2px 5px;
	font-size: 12.0pt;
	font-weight: normal;
	height: auto;
	color: #93a2be;
	text-align: center;
	background-color: #2a313c;
	border: none;
}
.btn-group > .btn + .dropdown-toggle {
	padding-left: 8px;
	padding-right: 8px;
	height: 100%;
	border-left: 2px solid #4c8be2 !important;
}
.btn-group > .btn + .dropdown-toggle:hover {
	border-left: 2px solid #4c8be2 !important;
}
.input-group-btn {
	position: relative;
	font-size: inherit;
	white-space: nowrap;
	background: #2e3642;
	background-color: #2e3642;
	border: none;
}
.input-group-btn:hover {
	background: #2a313c;
	background-color: #2a313c;
	border: none;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
	background: #2e3642;
	background-color: #2e3642;
	border: none;
	margin: 2px;
	font-size: inherit;
}
.input-group-btn:first-child > .btn:hover,
.input-group-btn:first-child > .btn-group:hover {
	background: #2a313c;
	background-color: #2a313c;
	border: none;
	margin: 2px;
	font-size: inherit;
	transition: 200ms ease;
}
div.modal .btn-group > .btn:first-child {
	background: #2e3642;
	background-color: #2e3642;
	border: 1px solid #2c343f;
	margin-top: 0px !important;
	margin-left: 0px;
	margin-bottom: 2px;
}
div.modal .btn-group > .btn:first-child:hover {
	background: #2a313c;
	background-color: #2a313c;
	border: 1px solid #2a313c;
	transition: 200ms ease;
}
div.modal > button,
div.modal-footer > button {
	background: #2e3642;
	background-color: #2e3642;
	border-color: #2e3642;
}
div.modal > button:hover,
div.modal-footer > button:hover {
	background: #2a313c;
	background-color: #2a313c;
	border-color: #2a313c;
	transition: 200ms ease;
}
.modal-content {
	font-family: sans-serif;
	font-size: 12.0pt;
	position: relative;
	background: #2e3642;
	background-color: #2e3642;
	border: none;
	border-radius: 1px;
	background-clip: padding-box;
	outline: none;
}
.modal-header {
	font-family: sans-serif;
	font-size: 13pt;
	color: #93a2be;
	background: #2e3642;
	background-color: #2e3642;
	border-color: rgba(80,92,133,.22);
	padding: 12px;
	min-height: 16.4286px;
}
.modal-content h4 {
	font-family: sans-serif;
	font-size: 16pt;
	color: #93a2be;
	padding: 5px;
}
.modal-body {
	background-color: #384152;
	position: relative;
	padding: 15px;
}
.modal-footer {
	padding: 10px;
	text-align: right;
	background-color: #384152;
	border-top: 1px solid rgba(80,92,133,.22);
}
.alert-info {
	background-color: #4a5467;
	border-color: rgba(80,92,133,.22);
	color: #93a2be;
}
.modal-header .close {
	margin-top: -5px;
	font-size: 25pt;
}
.modal-backdrop,
.modal-backdrop.in {
	opacity: 0.7;
	background-color: #4a5467;
}
div.panel,
div.panel-default,
.panel,
.panel-default {
	font-family: sans-serif;
	font-size: 12.0pt;
	background-color: #384152;
	color: #93a2be;
	margin-bottom: 14px;
	border: 0;
	box-shadow: none;
}
div.panel > .panel-heading,
div.panel-default > .panel-heading {
	font-size: 14pt;
	color: #93a2be;
	background: #2e3642;
	background-color: #2e3642;
	border: 0;
}
.modal .modal-dialog {
	min-width: 950px;
	margin: 50px auto;
}
div.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 0px;
	padding-right: 5px;
}
div.form-control,
.form-control {
	font-family: sans-serif;
	font-size: inherit;
	color: #93a2be;
	background-color: #2a313c;
	border: 2px solid #2a313c;
	margin-left: 2px;
	height: auto;
	box-shadow: none;
	padding: 6px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.form-group.list-group-item {
	color: #93a2be;
	background-color: #384152;
	border-color: rgba(80,92,133,.22);
	margin-bottom: 0px;
}
input,
button,
select,
textarea {
	background-color: #2a313c;
	font-weight: normal;
	border: 1px solid rgba(80,92,133,.22);
}
select.form-control.select-xs {
	height: auto;
}
.form-control:focus {
	border-color: #4c8be2;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(53,114,198,.5);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(53,114,198,.5);
}
::-webkit-input-placeholder {
	color: #546379;
}
::-moz-placeholder {
	color: #546379;
}
:-ms-input-placeholder {
	color: #546379;
}
:-moz-placeholder {
	color: #546379;
}
[dir="ltr"] #find-and-replace .input-group-btn + .form-control {
	border-left: 2px solid rgba(80,92,133,.22) !important;
}
[dir="ltr"] #find-and-replace .input-group-btn + .form-control:focus {
	border-left-color: #4c8be2 !important;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(53,114,198,.5) !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(53,114,198,.5) !important;
}
div.output.output_scroll {
	box-shadow: none;
}
::-webkit-scrollbar {
	width: 11px;
	max-height: 9px;
	background-color: #333742;
	border-radius: 3px;
	border: none;
}
::-webkit-scrollbar-track {
	background: #333742;
	border: none;
	width: 11px;
	max-height: 9px;
}
::-webkit-scrollbar-thumb {
	border-radius: 2px;
	border: none;
	background: #3567ac;
	background-clip: content-box;
	width: 11px;
}
HTML,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
span,
a {
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}
div.input_area {
	background-color: #303845;
	background: #303845;
	padding-right: 1.2em;
	border: 0px;
	border-radius: 2px;
}
div.cell {
	padding: 0px;
	background: #303845;
	background-color: #303845;
	border: medium solid #262931;
	border-radius: 2px;
	top: 0;
	border-top-left-radius: 4px;
}
div.cell.selected {
	background: #303845;
	background-color: #303845;
	border: medium solid #262931;
	padding: 0px;
}
.edit_mode div.cell.selected {
	padding: 0px;
	background: #303845;
	background-color: #303845;
	border: medium solid #262931;
}
div.cell.edit_mode {
	padding: 0px;
	background: #303845;
	background-color: #303845;
}
div.CodeMirror-sizer {
	margin-left: 0px;
	margin-bottom: -21px;
	border-right-width: 16px;
	min-height: 37px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
}
div.cell.selected:before {
	background: #2769c3;
	border: 2px solid #2769c3;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 4px;
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	width: 5px;
	height: 100%;
}
div.cell.selected.jupyter-soft-selected:before,
.edit_mode div.cell.selected:before {
	background: #33517c;
	border: 2px solid #33517c;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	width: 5px;
	height: 100%;
}
div.cell.jupyter-soft-selected,
div.cell.selected.jupyter-soft-selected {
	border-left-color: #33517c;
	border-left-width: 0px;
	padding-left: 7px;
	border-right-color: #33517c;
	border-right-width: 0px;
	background: #33517c;
	border-radius: 6px;
}
div.cell.selected.jupyter-soft-selected {
	border-left-color: #2769c3;
	border-color: #262931;
	padding-left: 7px;
	border-radius: 6px;
}
div.cell.selected.jupyter-soft-selected .prompt,
div.cell.text_cell.selected.jupyter-soft-selected .prompt {
	top: 0;
	border-left: #303845 !important;
	border-radius: 2px;
}
div.cell.text_cell.selected.jupyter-soft-selected .input_prompt {
	border-left: none !important;
}
div.cell.text_cell.selected.jupyter-soft-selected:before {
	background: #33517c !important;
	border: 2px solid #33517c !important;
	border-radius: 6px !important;
	position: absolute !important;
	display: block !important;
	top: 0px !important;
	left: 0px !important;
	width: 6px !important;
	height: 100% !important;
}
div.cell.text_cell.jupyter-soft-selected,
div.cell.text_cell.selected.jupyter-soft-selected {
	border-left-color: #33517c !important;
	border-left-width: 0px !important;
	padding-left: 7px !important;
	border-right-color: #33517c !important;
	border-right-width: 0px !important;
	background: #33517c !important;
	border-radius: 6px !important;
}
div.prompt,
.prompt {
	font-family: monospace, monospace;
	font-size: 9pt !important;
	font-weight: normal;
	color: #446489;
	line-height: 170%;
	padding: 0px;
	padding-top: 4px;
	padding-left: 0px;
	padding-right: 1px;
	text-align: right !important;
	min-width: 12.5ex !important;
	width: 12.5ex !important;
}
div.prompt.input_prompt {
	font-size: 9pt !important;
	background-color: #303845;
	border-top: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	padding-right: 3px;
	min-width: 12.5ex;
	width: 12.5ex !important;
}
div.cell.code_cell .input_prompt {
	border-right: 2px solid rgba(53,114,198,.5);
}
div.cell.selected .prompt {
	top: 0;
	border-left: 5px solid #2769c3;
	border-radius: 2px;
}
.edit_mode div.cell.selected .prompt {
	top: 0;
	border-left: 5px solid #33517c;
	border-radius: 2px;
}
.edit_mode div.cell.selected .prompt {
	top: 0;
	border-left: 5px solid #33517c;
	border-radius: 2px;
}
div.output_wrapper {
	background-color: #384151;
	border: 0px;
	left: 0px;
	margin-bottom: 0em;
	margin-top: 0em;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
div.output_subarea.output_text.output_stream.output_stdout,
div.output_subarea.output_text {
	font-family: monospace, monospace;
	font-size: 8.5pt !important;
	line-height: 150% !important;
	background-color: #384151;
	color: #cdd2e9;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
div.output_area pre {
	font-family: monospace, monospace;
	font-size: 8.5pt !important;
	line-height: 151% !important;
	color: #cdd2e9;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
div.output_area {
	display: -webkit-box;
}
div.output_html {
	font-family: monospace, monospace;
	font-size: 8.5pt;
	color: #dbdfef;
	background-color: #384151;
	background: #384151;
}
div.output_subarea {
	overflow-x: auto;
	padding: 0.3em;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	flex: 1;
}
div.btn.btn-default.output_collapsed {
	background: #242a33;
	background-color: #242a33;
	border-color: #242a33;
}
div.btn.btn-default.output_collapsed:hover {
	background: #1f252d;
	background-color: #1f252d;
	border-color: #1f252d;
}
div.prompt.output_prompt {
	font-family: monospace, monospace;
	font-size: 9pt !important;
	background-color: #384151;
	color: transparent;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
	min-width: 12.5ex !important;
	width: 12.5ex !important;
	border-right: 2px solid rgba(53,114,198,.5) !important;
}
div.out_prompt_overlay.prompt {
	font-family: monospace, monospace;
	font-size: 9pt !important;
	background-color: #384151;
	border-bottom-left-radius: 2px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
	min-width: 12.5ex !important;
	width: 12.5ex !important;
	border-right: 2px solid rgba(53,114,198,.5) !important;
	color: transparent;
}
div.out_prompt_overlay.prompt:hover {
	background-color: #384151;
	box-shadow: #323a48 2px 1px 1px 2px inset;
	border: none;
	border-bottom-left-radius: 2px;
	-webkit-border-: 2px;
	-moz-border-radius: 2px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	min-width: 12.5ex !important;
	width: 12.5ex !important;
	border-right: 2px solid rgba(53,114,198,.5) !important;
}
div.cell.code_cell .output_prompt {
	border-right: 2px solid 2px solid rgba(53,114,198,.5) !important;
	color: transparent;
}
div.cell.selected .output_prompt,
div.cell.selected .out_prompt_overlay.prompt {
	border-left: 5px solid #2769c3;
	border-radius: 0px !important;
}
.edit_mode div.cell.selected .output_prompt,
.edit_mode div.cell.selected .out_prompt_overlay.prompt {
	border-left: 5px solid #33517c !important;
	border-radius: 0px !important;
}
div.text_cell,
div.text_cell_render pre,
div.text_cell_render {
	font-family: sans-serif;
	font-size: 13pt;
	line-height: 130% !important;
	color: #abc1e2;
	background: #303845;
	background-color: #303845;
	border-radius: 0px;
}
div .text_cell_render {
	padding: 0.4em 0.4em 0em 0.4em;
}
div.cell.text_cell .CodeMirror-lines {
	padding-top: .7em !important;
	padding-bottom: .4em !important;
	padding-left: .5em !important;
	padding-right: .5em !important;
	margin-top: .4em;
	margin-bottom: .3em;
}
div.cell.text_cell.unrendered div.input_area,
div.cell.text_cell.rendered div.input_area {
	background-color: #303845;
	background: #303845;
	border: 0px;
	border-radius: 2px;
}
div.cell.text_cell .CodeMirror,
div.cell.text_cell .CodeMirror pre {
	line-height: 170% !important;
}
div.cell.text_cell.rendered.selected {
	font-family: sans-serif;
	line-height: 170% !important;
	background: #303845;
	background-color: #303845;
	border-radius: 0px;
}
div.cell.text_cell.unrendered.selected {
	font-family: sans-serif;
	line-height: 170% !important;
	background: #303845;
	background-color: #303845;
	border-radius: 0px;
}
div.cell.text_cell.selected {
	font-family: sans-serif;
	line-height: 170% !important;
	background: #303845;
	background-color: #303845;
	border-radius: 0px;
}
.edit_mode div.cell.text_cell.selected {
	font-family: sans-serif;
	line-height: 170% !important;
	background: #303845;
	background-color: #303845;
	border-radius: 0px;
}
div.text_cell.unrendered,
div.text_cell.unrendered.selected,
div.edit_mode div.text_cell.unrendered {
	font-family: sans-serif;
	line-height: 170% !important;
	background: #303845;
	background-color: #303845;
	border-radius: 0px;
}
div.cell.text_cell.selected:before {
	background: #2769c3;
	border: 2px solid #2769c3;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	width: 5px;
	height: 100%;
}
.edit_mode div.cell.text_cell.selected:before {
	background: #33517c;
	border: 2px solid #33517c;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	width: 5px;
	height: 100%;
}
div.cell.text_cell .input_prompt {
	border-right: 0;
}
div.cell.text_cell.rendered .input_prompt {
	font-family: monospace, monospace;
	font-size: 9.5pt;
	font-weight: normal;
	color: #446489;
	text-align: right !important;
	min-width: 12.5ex;
	width: 12.5ex !important;
	background-color: #303845;
	border-right: 2px solid rgba(53,114,198,.5);
	border-left: 5px solid #303845;
}
div.cell.text_cell.unrendered .input_prompt {
	font-family: monospace, monospace;
	font-size: 9.5pt;
	font-weight: normal;
	color: #446489;
	text-align: right !important;
	min-width: 12.5ex;
	width: 12.5ex !important;
	border-right: 2px solid rgba(53,114,198,.5);
	border-left: 5px solid #303845;
}
div.cell.text_cell.rendered .input_prompt {
	border-right: 2px solid rgba(53,114,198,.5);
}
div.cell.text_cell.rendered.selected .input_prompt {
	top: 0;
	border-left: 5px solid #2769c3;
	border-radius: 2px;
	border-right: 2px solid rgba(53,114,198,.5);
}
div.text_cell.unrendered.selected .prompt {
	top: 0;
	border-left: 5px solid #33517c;
	border-radius: 2px;
	border-right: 2px solid rgba(53,114,198,.5);
}
div.rendered_html code {
	font-family: monospace, monospace;
	font-size: 11pt;
	padding-top: 3px;
	padding-left: 2px;
	color: #cdd2e9;
	background: #303845;
	background-color: #303845;
}
pre,
code,
kbd,
samp {
	white-space: pre-wrap;
}
.well code,
code {
	font-family: monospace, monospace;
	font-size: 11pt !important;
	line-height: 170% !important;
	color: #abc1e2;
	background: #2a313c;
	background-color: #2a313c;
	border-color: #2a313c;
}
kbd {
	padding: 4px;
	font-size: 11pt;
	color: #cdd2e9;
	background-color: #2a313c;
	border: 0;
	box-shadow: none;
}
pre {
	display: block;
	padding: 8.5px;
	margin: 0 0 9px;
	font-size: 12.0pt;
	line-height: 1.42857143;
	color: #cdd2e9;
	background-color: #2a313c;
	border: 1px solid #2a313c;
	border-radius: 2px;
}
div.rendered_html {
	color: #abc1e2;
}
.rendered_html * + ul {
	margin-top: .4em;
	margin-bottom: .3em;
}
.rendered_html * + p {
	margin-top: .5em;
	margin-bottom: .5em;
}
div.rendered_html pre,
div.text_cell_render pre {
	font-family: monospace, monospace;
	font-size: 11pt !important;
	line-height: 170% !important;
	color: #abc1e2;
	background: #303845;
	background-color: #303845;
	max-width: 80%;
	border-radius: 0px;
	border-left: 3px solid rgba(53,114,198,.5);
	max-width: 80%;
	border-radius: 0px;
	padding-left: 5px;
	margin-left: 6px;
}
div.text_cell_render h1,
div.rendered_html h1,
div.text_cell_render h2,
div.rendered_html h2,
div.text_cell_render h3,
div.rendered_html h3,
div.text_cell_render h4,
div.rendered_html h4,
div.text_cell_render h5,
div.rendered_html h5 {
	font-family: sans-serif;
	margin: 0.4em .2em .3em .2em !important;
}
.rendered_html h1:first-child,
.rendered_html h2:first-child,
.rendered_html h3:first-child,
.rendered_html h4:first-child,
.rendered_html h5:first-child,
.rendered_html h6:first-child {
	margin-top: 0.2em !important;
	margin-bottom: 0.2em !important;
}
.rendered_html h1,
.text_cell_render h1 {
	color: #4c8be2;
	font-size: 215%;
	text-align: center;
	font-style: normal;
	font-weight: lighter;
}
.rendered_html h2,
.text_cell_render h2 {
	text-align: left;
	font-size: 180%;
	color: #4c8be2;
	font-style: normal;
	font-weight: lighter;
}
.rendered_html h3,
.text_cell_render h3 {
	font-size: 150%;
	color: #4c8be2;
	font-style: normal;
	font-weight: lighter;
}
.rendered_html h4,
.text_cell_render h4 {
	font-size: 120%;
	color: #4c8be2;
	font-style: normal;
	font-weight: lighter;
}
.rendered_html h5,
.text_cell_render h5 {
	font-size: 100%;
	color: #d8dcee;
	font-style: normal;
	font-weight: lighter;
}
hr {
	margin-top: 8px;
	margin-bottom: 10px;
	border: 0;
	border-top: 1px solid #4c8be2;
}
.rendered_html hr {
	color: #4c8be2;
	background-color: #4c8be2;
	margin-right: 2em;
}
#complete > select > option:hover {
	background: rgba(80,92,133,.22);
	background-color: rgba(80,92,133,.22);
}
div#_vivaldi-spatnav-focus-indicator._vivaldi-spatnav-focus-indicator {
	position: absolute;
	z-index: 9999999999;
	top: 0px;
	left: 0px;
	box-shadow: none;
	pointer-events: none;
	border-radius: 2px;
}
.rendered_html tr,
.rendered_html th,
.rendered_html td {
	text-align: left;
	vertical-align: middle;
	padding: 0.42em 0.47em;
	line-height: normal;
	white-space: normal;
	max-width: none;
	border: none;
}
.rendered_html tr,
.rendered_html td {
	font-size: 9.3pt !important;
}
.rendered_html thead {
	font-family: sans-serif;
	font-size: 10.3pt !important;
}
.rendered_html table {
	font-family: sans-serif !important;
	margin-left: 8px;
	margin-right: auto;
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
	color: #dbdfef;
	table-layout: fixed;
}
.rendered_html thead {
	background: #2e3642;
	color: #d4d8ec;
	border-bottom: 1px solid #2e3642;
	vertical-align: bottom;
}
.rendered_html tbody tr:nth-child(odd) {
	background: #434d61;
}
.rendered_html tbody tr {
	background: #3d4658;
}
.rendered_html tbody tr:hover:nth-child(odd) {
	background: #414b5e;
}
.rendered_html tbody tr:hover {
	background: #3b4355;
}
.rendered_html * + table {
	margin-top: .05em;
}
div.widget-area {
	background-color: #384151;
	background: #384151;
	color: #cdd2e9;
}
div.widget-area a {
	font-family: sans-serif;
	font-size: 12.0pt;
	font-weight: normal;
	font-style: normal;
	color: #93a2be;
	text-shadow: none !important;
}
div.widget-area a:hover,
div.widget-area a:focus {
	font-family: sans-serif;
	font-size: 12.0pt;
	font-weight: normal;
	font-style: normal;
	color: #d8dcee;
	background: rgba(80,92,133,.22);
	background-color: rgba(80,92,133,.22);
	border-color: transparent;
	background-image: none;
	text-shadow: none !important;
}
div.widget_item.btn-group > button.btn.btn-default.widget-combo-btn,
div.widget_item.btn-group > button.btn.btn-default.widget-combo-btn:hover {
	background: #2c343f;
	background-color: #2c343f;
	border: 2px solid #2c343f !important;
	font-size: inherit;
	z-index: 0;
}
div.jupyter-widgets.widget-hprogress.widget-hbox {
	display: inline-table !important;
	width: 38% !important;
	margin-left: 10px;
}
div.jupyter-widgets.widget-hprogress.widget-hbox .widget-label,
div.widget-hbox .widget-label,
.widget-hbox .widget-label,
.widget-inline-hbox .widget-label,
div.widget-label {
	text-align: -webkit-auto !important;
	margin-left: 15px !important;
	max-width: 240px !important;
	min-width: 100px !important;
	vertical-align: text-top !important;
	color: #cdd2e9 !important;
}
.widget-hprogress .progress {
	flex-grow: 1;
	height: 20px;
	margin-top: auto;
	margin-left: 12px;
	margin-bottom: auto;
	width: 300px;
}
.progress {
	overflow: hidden;
	height: 22px;
	margin-bottom: 10px;
	padding-left: 10px;
	background-color: #546379 !important;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	z-index: 10;
}
.progress-bar-danger {
	background-color: #e74c3c !important;
}
.progress-bar-info {
	background-color: #3498db !important;
}
.progress-bar-warning {
	background-color: #ff914d !important;
}
.progress-bar-success {
	background-color: #83a83b !important;
}
.widget-select select {
	margin-left: 12px;
}
.rendered_html :link {
	font-family: sans-serif;
	font-size: 100%;
	color: #4c8be2;
	text-decoration: underline;
}
.rendered_html :visited,
.rendered_html :visited:active,
.rendered_html :visited:focus {
	color: #6297e0;
}
.rendered_html :visited:hover,
.rendered_html :link:hover {
	font-family: sans-serif;
	font-size: 100%;
	color: #61afef;
}
a.anchor-link:link {
	font-size: inherit;
	text-decoration: none;
	padding: 0px 20px;
	visibility: none;
	color: #4c8be2;
}
a.anchor-link:link:hover {
	font-size: inherit;
	color: #61afef;
}
.navbar-text {
	margin-top: 4px;
	margin-bottom: 0px;
}
#clusters > a {
	color: #61afef;
	text-decoration: underline;
	cursor: auto;
}
#clusters > a:hover {
	color: #4c8be2;
	text-decoration: underline;
	cursor: auto;
}
#nbextensions-configurator-container > div.row.container-fluid.nbext-selector > h3 {
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 8px;
	height: 24px;
	padding: 4px 0 4px 0;
}
div#nbextensions-configurator-container.container,
#nbextensions-configurator-container.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
div.nbext-selector > nav > .nav > li > a {
	font-family: sans-serif;
	font-size: 10.5pt;
	padding: 2px 5px;
}
div.nbext-readme > .nbext-readme-contents > .rendered_html {
	font-family: sans-serif;
	font-size: 11.5pt;
	line-height: 145%;
	padding: 1em 1em;
	color: #abc1e2;
	background-color: #303845;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.nbext-icon,
.nbext-desc,
.nbext-compat-div,
.nbext-enable-btns,
.nbext-params {
	margin-bottom: 8px;
	font-size: 11.5pt;
}
div.nbext-readme > .nbext-readme-contents {
	padding: 0;
	overflow-y: hidden;
}
div.nbext-readme > .nbext-readme-contents:not(:empty) {
	margin-top: 0.5em;
	margin-bottom: 2em;
	border: none;
	border-top-color: rgba(53,114,198,.3);
}
.nbext-showhide-incompat {
	padding-bottom: 0.5em;
	color: #92a2bd;
	font-size: 10.5pt;
}
.nbext-filter-menu.dropdown-menu > li > a:hover,
.nbext-filter-menu.dropdown-menu > li > a:focus,
.nbext-filter-menu.dropdown-menu > li > a.ui-state-focus {
	color: #d8dcee !important;
	background-color: rgba(80,92,133,.22) !important;
	background: rgba(80,92,133,.22) !important;
	border-color: rgba(80,92,133,.22) !important;
}
span.rendered_html code {
	background-color: transparent;
	color: #93a2be;
}
#nbextensions-configurator-container > div.row.container-fluid.nbext-selector {
	padding-left: 0px;
	padding-right: 0px;
}
.nbext-filter-menu {
	max-height: 50vh;
	overflow-y: auto;
	outline: none;
	border: 2px solid rgba(80,92,133,.22);
}
.alert-warning {
	background-color: #384152;
	border-color: #384152;
	color: #93a2be;
}
.notification_widget.danger {
	color: #ffffff;
	background-color: #e74c3c;
	border-color: #e74c3c;
	padding-right: 5px;
}
mark,
.mark {
	background-color: #303845;
	color: #abc1e2;
	padding: .15em;
}
a.text-warning,
a.text-warning:hover {
	color: #546379;
}
a.text-warning.bg-warning {
	background-color: #262931;
}
span.bg-success.text-success {
	background-color: transparent;
	color: #48a667;
}
span.bg-danger.text-danger {
	background-color: #262931;
	color: #dc6972;
}
.has-success .input-group-addon {
	color: #48a667;
	border-color: transparent;
	background: inherit;
	background-color: rgba(83,180,115,.10);
}
.has-success .form-control {
	border-color: #48a667;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.025);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.025);
}
.has-error .input-group-addon {
	color: #dc6972;
	border-color: transparent;
	background: inherit;
	background-color: rgba(192,57,67,.10);
}
.has-error .form-control {
	border-color: #dc6972;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.025);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.025);
}
.kse-input-group-pretty > kbd {
	font-family: monospace, monospace;
	color: #93a2be;
	font-weight: normal;
	background: transparent;
}
.kse-input-group-pretty > kbd {
	font-family: monospace, monospace;
	color: #93a2be;
	font-weight: normal;
	background: transparent;
}
div.nbext-enable-btns .btn[disabled],
div.nbext-enable-btns .btn[disabled]:hover,
.btn-default.disabled,
.btn-default[disabled] {
	background: #38424f;
	background-color: #38424f;
	color: #899ab8;
}
label#Keyword-Filter {
	display: none;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	color: #e4e8ee;
	background-color: #3572c6;
}
.input-group .nbext-list-btn-add,
.input-group-btn:last-child > .btn-group > .btn {
	background: #2e3642;
	background-color: #2e3642;
	border-color: #2e3642;
}
.input-group .nbext-list-btn-add:hover,
.input-group-btn:last-child > .btn-group > .btn:hover {
	background: #2a313c;
	background-color: #2a313c;
	border-color: #2a313c;
}
#notebook-container > div.cell.code_cell.rendered.selected > div.widget-area > div.widget-subarea > div > div.widget_item.btn-group > button.btn.btn-default.dropdown-toggle.widget-combo-carrot-btn {
	background: #2e3642;
	background-color: #2e3642;
	border-color: #2e3642;
}
#notebook-container > div.cell.code_cell.rendered.selected > div.widget-area > div.widget-subarea > div > div.widget_item.btn-group > button.btn.btn-default.dropdown-toggle.widget-combo-carrot-btn:hover {
	background: #2a313c;
	background-color: #2a313c;
	border-color: #2a313c;
}
.ui-widget-content {
	background: #3a4452;
	background-color: #3a4452;
	border: 2px solid #3a4452;
	color: #93a2be;
}
div.collapsible_headings_toggle {
	color: rgba(80,92,133,.45) !important;
}
div.collapsible_headings_toggle:hover {
	color: #4c8be2 !important;
}
.collapsible_headings_toggle .h1,
.collapsible_headings_toggle .h2,
.collapsible_headings_toggle .h3,
.collapsible_headings_toggle .h4,
.collapsible_headings_toggle .h5,
.collapsible_headings_toggle .h6 {
	margin: 0.3em .4em 0em 0em !important;
	line-height: 1.2 !important;
}
div.collapsible_headings_toggle .fa-caret-down:before,
div.collapsible_headings_toggle .fa-caret-right:before {
	font-size: xx-large;
	transition: transform 1000ms;
	transform: none !important;
}
.collapsible_headings_collapsed.collapsible_headings_ellipsis .rendered_html h1:after,
.collapsible_headings_collapsed.collapsible_headings_ellipsis .rendered_html h2:after,
.collapsible_headings_collapsed.collapsible_headings_ellipsis .rendered_html h3:after,
.collapsible_headings_collapsed.collapsible_headings_ellipsis .rendered_html h4:after,
.collapsible_headings_collapsed.collapsible_headings_ellipsis .rendered_html h5:after,
.collapsible_headings_collapsed.collapsible_headings_ellipsis .rendered_html h6:after {
	position: absolute;
	right: 0;
	bottom: 20% !important;
	content: "[\002026]";
	color: rgba(80,92,133,.45) !important;
	padding: 0.5em 0em 0em 0em !important;
}
.collapsible_headings_ellipsis .rendered_html h1,
.collapsible_headings_ellipsis .rendered_html h2,
.collapsible_headings_ellipsis .rendered_html h3,
.collapsible_headings_ellipsis .rendered_html h4,
.collapsible_headings_ellipsis .rendered_html h5,
.collapsible_headings_ellipsis .rendered_html h6,
.collapsible_headings_toggle .fa {
	transition: transform 1000ms !important;
	-webkit-transform: inherit !important;
	-moz-transform: inherit !important;
	-ms-transform: inherit !important;
	-o-transform: inherit !important;
	transform: inherit !important;
	padding-right: 0px !important;
}
input.raw_input {
	font-family: monospace, monospace;
	font-size: 11pt !important;
	color: #cdd2e9;
	background-color: #2a313c;
	border-color: #282f39;
	background: #282f39;
	width: auto;
	vertical-align: baseline;
	padding: 0em 0.25em;
	margin: 0em 0.25em;
	-webkit-box-shadow: none;
	box-shadow: none;
}
audio,
video {
	display: inline;
	vertical-align: middle;
	align-content: center;
	margin-left: 20%;
}
.cmd-palette .modal-body {
	padding: 0px;
	margin: 0px;
}
.cmd-palette form {
	background: #293547;
	background-color: #293547;
}
.typeahead-field input:last-child,
.typeahead-hint {
	background: #293547;
	background-color: #293547;
	z-index: 1;
}
.typeahead-field input {
	font-family: sans-serif;
	color: #cdd2e9;
	border: none;
	font-size: 28pt;
	display: inline-block;
	line-height: inherit;
	padding: 3px 10px;
	height: 70px;
}
.typeahead-select {
	background-color: #293547;
}
body > div.modal.cmd-palette.typeahead-field {
	display: table;
	border-collapse: separate;
	background-color: #2b3850;
}
.typeahead-container button {
	font-family: sans-serif;
	font-size: 28pt;
	background-color: #333742;
	border: none;
	display: inline-block;
	line-height: inherit;
	padding: 3px 10px;
	height: 70px;
}
.typeahead-search-icon {
	min-width: 40px;
	min-height: 55px;
	display: block;
	vertical-align: middle;
	text-align: center;
}
.typeahead-container button:focus,
.typeahead-container button:hover {
	color: #d8dcee;
	background-color: #4c8be2;
	border-color: #4c8be2;
}
.typeahead-list > li.typeahead-group.active > a,
.typeahead-list > li.typeahead-group > a,
.typeahead-list > li.typeahead-group > a:focus,
.typeahead-list > li.typeahead-group > a:hover {
	display: none;
}
.typeahead-dropdown > li > a,
.typeahead-list > li > a {
	color: #93a2be;
	text-decoration: none;
}
.typeahead-dropdown,
.typeahead-list {
	font-family: sans-serif;
	font-size: 13pt;
	color: #93a2be;
	background-color: #202937;
	border: none;
	background-clip: padding-box;
	margin-top: 0px;
	padding: 3px 2px 3px 0px;
	line-height: 1.7;
}
.typeahead-dropdown > li.active > a,
.typeahead-dropdown > li > a:focus,
.typeahead-dropdown > li > a:hover,
.typeahead-list > li.active > a,
.typeahead-list > li > a:focus,
.typeahead-list > li > a:hover {
	color: #d8dcee;
	background-color: #2b3850;
	border-color: #2b3850;
}
.command-shortcut:before {
	content: "(command)";
	padding-right: 3px;
	color: #546379;
}
.edit-shortcut:before {
	content: "(edit)";
	padding-right: 3px;
	color: #546379;
}
ul.typeahead-list i {
	margin-left: 1px;
	width: 18px;
	margin-right: 10px;
}
ul.typeahead-list {
	max-height: 50vh;
	overflow: auto;
}
.typeahead-list > li {
	position: relative;
	border: none;
}
div.input.typeahead-hint,
input.typeahead-hint,
body > div.modal.cmd-palette.in > div > div > div > form > div > div.typeahead-field > span.typeahead-query > input.typeahead-hint {
	color: #546379 !important;
	background-color: transparent;
	padding: 3px 10px;
}
.typeahead-dropdown > li > a,
.typeahead-list > li > a {
	display: block;
	padding: 5px;
	clear: both;
	font-weight: 400;
	line-height: 1.7;
	border: 1px solid #202937;
	border-bottom-color: rgba(80,92,133,.45);
}
body > div.modal.cmd-palette.in > div {
	min-width: 750px;
	margin: 150px auto;
}
.typeahead-container strong {
	font-weight: bolder;
	color: #4c8be2;
}
#find-and-replace #replace-preview .match,
#find-and-replace #replace-preview .insert {
	color: #ffffff;
	background-color: #2769c3;
	border-color: #2769c3;
	border-style: solid;
	border-width: 1px;
	border-radius: 0px;
}
#find-and-replace #replace-preview .replace .match {
	background-color: #dc6972;
	border-color: #dc6972;
	border-radius: 0px;
}
#find-and-replace #replace-preview .replace .insert {
	background-color: #48a667;
	border-color: #48a667;
	border-radius: 0px;
}
.shortcut_key,
span.shortcut_key {
	display: inline-block;
	width: 16ex;
	text-align: right;
	font-family: monospace;
}
.jupyter-keybindings {
	padding: 1px;
	line-height: 24px;
	border-bottom: 1px solid rgba(80,92,133,.22);
}
.jupyter-keybindings i {
	background: #2a313c;
	font-size: small;
	padding: 5px;
	margin-left: 7px;
}
div#short-key-bindings-intro.well,
.well {
	background-color: #2e3642;
	border: 1px solid #2e3642;
	color: #93a2be;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#texteditor-backdrop {
	background: #262931;
	background-color: #262931;
}
#texteditor-backdrop #texteditor-container .CodeMirror-gutter,
#texteditor-backdrop #texteditor-container .CodeMirror-gutters {
	background: #343c4b;
	background-color: #343c4b;
	color: #667fb1;
}
.edit_app #menubar .navbar {
	margin-bottom: 0px;
}
#texteditor-backdrop #texteditor-container {
	padding: 0px;
	background-color: #303845;
	box-shadow: none;
}
.terminal-app {
	background: #262931;
}
.terminal-app .terminal {
	font-family: monospace, monospace;
	font-size: 11pt;
	line-height: 170%;
	color: #cdd2e9;
	background: #303845;
	padding: 0.4em;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.terminal .xterm-viewport {
	background-color: #303845;
	color: #cdd2e9;
	overflow-y: auto;
}
.terminal .xterm-color-0 {
	color: #4c8be2;
}
.terminal .xterm-color-1 {
	color: #e39194;
}
.terminal .xterm-color-2 {
	color: #caa6ec;
}
.terminal .xterm-color-3 {
	color: #e39194;
}
.terminal .xterm-color-4 {
	color: #efaa8e;
}
.terminal .xterm-color-5 {
	color: #8fca9a;
}
.terminal .xterm-color-6 {
	color: #77abe7;
}
.terminal .xterm-color-7 {
	color: #77abe7;
}
.terminal .xterm-color-8 {
	color: #61afef;
}
.terminal .xterm-color-9 {
	color: #8fca9a;
}
.terminal .xterm-color-10 {
	color: #e39194;
}
.terminal .xterm-color-14 {
	color: #77abe7;
}
.terminal .xterm-bg-color-15 {
	background-color: #303845;
}
.terminal:not(.xterm-cursor-style-underline):not(.xterm-cursor-style-bar) .terminal-cursor {
	background-color: #4c8be2;
	color: #303845;
}
.terminal:not(.focus) .terminal-cursor {
	outline: 1px solid #4c8be2;
	outline-offset: -1px;
}
div#pager #pager-contents {
	background: #262931 !important;
	background-color: #262931 !important;
}
div#pager pre {
	color: #cdd2e9 !important;
	background: #303845 !important;
	background-color: #303845 !important;
	padding: 0.4em;
}
div#pager .ui-resizable-handle {
	top: 0px;
	height: 8px;
	background: #4c8be2 !important;
	border-top: 1px solid #4c8be2;
	border-bottom: 1px solid #4c8be2;
}
div.CodeMirror,
div.CodeMirror pre {
	font-family: monospace, monospace;
	font-size: 11pt;
	line-height: 170%;
	color: #cdd2e9;
}
div.CodeMirror-lines {
	padding-bottom: .9em;
	padding-left: .5em;
	padding-right: 1.5em;
	padding-top: .7em;
}
span.ansiblack,
.ansi-black-fg {
	color: #2b303b;
}
span.ansiblue,
.ansi-blue-fg,
.ansi-blue-intense-fg {
	color: #61afef;
}
span.ansigray,
.ansi-gray-fg,
.ansi-gray-intense-fg {
	color: #899ab8;
}
span.ansigreen,
.ansi-green-fg {
	color: #8fca9a;
}
.ansi-green-intense-fg {
	color: #899ab8;
}
span.ansipurple,
.ansi-purple-fg,
.ansi-purple-intense-fg {
	color: #b399ef;
}
span.ansicyan,
.ansi-cyan-fg,
.ansi-cyan-intense-fg {
	color: #b399ef;
}
span.ansiyellow,
.ansi-yellow-fg,
.ansi-yellow-intense-fg {
	color: #ddd7a3;
}
span.ansired,
.ansi-red-fg,
.ansi-red-intense-fg {
	color: #e39194;
}
div.output-stderr {
	background-color: #e39194;
}
div.output-stderr pre {
	color: #d0d4e6;
}
div.js-error {
	color: #e39194;
}
.ipython_tooltip {
	font-family: monospace, monospace;
	font-size: 11pt;
	line-height: 170%;
	border: 2px solid #2b333f;
	background: #3c4657;
	background-color: #3c4657;
	border-radius: 2px;
	overflow-x: visible;
	overflow-y: visible;
	box-shadow: none;
	position: absolute;
	z-index: 1000;
}
.ipython_tooltip .tooltiptext pre {
	font-family: monospace, monospace;
	font-size: 11pt;
	line-height: 170%;
	background: #3c4657;
	background-color: #3c4657;
	color: #cdd2e9;
	overflow-x: visible;
	overflow-y: visible;
	max-width: 900px;
}
div#tooltip.ipython_tooltip {
	overflow-x: wrap;
	overflow-y: visible;
	max-width: 800px;
}
div.tooltiptext.bigtooltip {
	overflow-x: visible;
	overflow-y: scroll;
	height: 400px;
	max-width: 800px;
}
.cm-s-ipython.CodeMirror {
	font-family: monospace, monospace;
	font-size: 11pt;
	background: #303845;
	color: #cdd2e9;
	border-radius: 2px;
	font-style: normal;
	font-weight: normal;
}
.cm-s-ipython div.CodeMirror-selected {
	background: #42495e;
}
.cm-s-ipython .CodeMirror-gutters {
	background: #343c4b;
	border: none;
	border-radius: 0px;
	width: 36px;
}
.cm-s-ipython .CodeMirror-linenumber {
	color: #667fb1;
}
.CodeMirror-sizer {
	margin-left: 40px;
}
.CodeMirror-linenumber,
div.CodeMirror-linenumber,
.CodeMirror-gutter.CodeMirror-linenumberdiv.CodeMirror-gutter.CodeMirror-linenumber {
	padding-right: 1px;
	margin-left: 0px;
	margin: 0px;
	width: 26px !important;
	padding: 0px;
	text-align: right;
}
.CodeMirror-linenumber {
	color: #667fb1;
}
.cm-s-ipython .CodeMirror-cursor {
	border-left: 2px solid #0095ff !important;
}
.cm-s-ipython span.cm-comment {
	color: #667fb1;
	font-style: italic;
}
.cm-s-ipython span.cm-atom {
	color: #caa6ec;
}
.cm-s-ipython span.cm-number {
	color: #efaa8e;
}
.cm-s-ipython span.cm-property {
	color: #cdd2e9;
}
.cm-s-ipython span.cm-attribute {
	color: #cdd2e9;
}
.cm-s-ipython span.cm-keyword {
	color: #caa6ec;
	font-weight: normal;
}
.cm-s-ipython span.cm-string {
	color: #8fca9a;
}
.cm-s-ipython span.cm-meta {
	color: #ddd7a3;
}
.cm-s-ipython span.cm-operator {
	color: #77abe7;
}
.cm-s-ipython span.cm-builtin {
	color: #e39194;
}
.cm-s-ipython span.cm-variable {
	color: #cdd2e9;
}
.cm-s-ipython span.cm-variable-2 {
	color: #e39194;
}
.cm-s-ipython span.cm-variable-3 {
	color: #ddd7a3;
}
.cm-s-ipython span.cm-def {
	color: #77abe7;
	font-weight: normal;
}
.cm-s-ipython span.cm-error {
	background: rgba(191,97,106,.4);
}
.cm-s-ipython span.cm-tag {
	color: #caa6ec;
}
.cm-s-ipython span.cm-link {
	color: #61afef;
}
.cm-s-ipython span.cm-storage {
	color: #caa6ec;
}
.cm-s-ipython span.cm-entity {
	color: #e39194;
}
.cm-s-ipython span.cm-quote {
	color: #8fca9a;
}
div.CodeMirror span.CodeMirror-matchingbracket {
	color: #e4e8ee;
	background-color: #4c8be2;
}
div.CodeMirror span.CodeMirror-nonmatchingbracket {
	color: #e4e8ee;
	background: rgba(191,97,106,.4) !important;
}
.cm-header-1 {
	font-size: 215%;
}
.cm-header-2 {
	font-size: 180%;
}
.cm-header-3 {
	font-size: 150%;
}
.cm-header-4 {
	font-size: 120%;
}
.cm-header-5 {
	font-size: 100%;
}
.cm-s-default .cm-hr {
	color: #77abe7;
}
div.cell.text_cell .cm-s-default .cm-header {
	font-family: sans-serif;
	font-weight: normal;
	color: #4c8be2;
	margin-top: 0.3em !important;
	margin-bottom: 0.3em !important;
}
div.cell.text_cell .cm-s-default span.cm-variable-2 {
	color: #abc1e2;
}
div.cell.text_cell .cm-s-default span.cm-variable-3 {
	color: #ddd7a3;
}
.cm-s-default span.cm-comment {
	color: #667fb1;
}
.cm-s-default .cm-tag {
	color: #8fb36a;
}
.cm-s-default .cm-builtin {
	color: #e39194;
}
.cm-s-default .cm-string {
	color: #8fca9a;
}
.cm-s-default .cm-keyword {
	color: #caa6ec;
}
.cm-s-default .cm-number {
	color: #efaa8e;
}
.cm-s-default .cm-error {
	color: #caa6ec;
}
.cm-s-default .cm-link {
	color: #61afef;
}
.cm-s-default .cm-atom {
	color: #efaa8e;
}
.CodeMirror-cursor {
	border-left: 2px solid #0095ff !important;
	border-right: none;
	width: 0;
}
.cm-s-default div.CodeMirror-selected {
	background: #42495e;
}
.cm-s-default .cm-selected {
	background: #42495e;
}
.completions {
	position: absolute;
	z-index: 110;
	overflow: hidden;
	border: medium solid rgba(53,114,198,.5);
	box-shadow: none;
	line-height: 1;
}
.completions select {
	background: #303845;
	background-color: #303845;
	outline: none;
	border: none;
	padding: 0px;
	margin: 0px;
	margin-left: 2px;
	overflow: auto;
	font-family: monospace, monospace;
	font-size: 11pt;
	color: #cdd2e9;
	width: auto;
}
div#maintoolbar {
	display: none !important;
}
#header-container {
	display: none !important;
}

/**********************************
 *  MathJax
 *  Settings
 *  and
 *  Style
 *  Script
 *  **********************************/
	.MathJax_Display,
	.MathJax nobr>span.math>span {
		border: 0 !important;
		font-size: 110% !important;
		text-align: center !important;
		margin: 0em !important;
	}
	/* Prevents MathJax from jittering */
	/* cell position when cell is selected */
	.MathJax:focus, body :focus .MathJax {
		display: inline-block !important;
	}

	<script>
	MathJax.Hub.Config({
		"HTML-CSS": {
			/*preferredFont: "TeX",*/
			/*availableFonts: ["TeX",
			 * "STIX"],*/
	styles: {
		scale: 110,
		".MathJax_Display": {
			"font-size": "110%",
		}
	}
}
																												});
																												</script>
