.navbar-brand
{
	height: 80px;
}

#ipython_notebook img
{
	height: 80px;
}

/*#menubar-container
{
	position: fixed;
	bottom: 0;
}*/

#login_widget, #save_widget, #kernel_logo_widget
{
	margin-top: 50px;
	overflow: hidden;
}

#save_widget
{
	margin-top: 60px;
	margin-left: 20px;
}

span .checkpoint_status
{
	font-size: 10px !important;
}
span .autosave_status
{
	font-size: 8px !important;
}
